* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@import 'helpers/all';
@import 'base/all';
@import 'modules/all';


// Animation

* {
  transition: $transition-medium;
}

// Global Layout

body {
  padding: 150px 12%;
  background-color: $primary1;
  border: solid 10px $secondary2;
  position: relative;
}

section {
  margin-bottom: $margin-large;
}

.container {
  // position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 80px;
  margin: 0 0 20vh 0;
  display: block;
}

footer {
  margin: $margin-large 0 $margin-medium 0;
  p {
    padding-right: 3%;
  }
}

// Home Page

.home-main {
  margin-bottom: $margin-large;
}

.social-links {
  margin-bottom: $margin-medium;
  a {
    display: inline-block;
    margin-right: 2%;
    }
}

.home-lists {
  div {
    padding-right: $margin-small;
  }
}

.home-blog {
  clear: both;
}

// Case Studies

.case-study-bg {
  position: absolute;
  width: 80%;
  margin-left: -2.5%;
  margin-top: -300px;
  z-index: -1;
}

// @media screen and (max-width: 500px) {

//   body {
//     padding: 0 8%;
//   }

//   .logo {
//     width: 50px;
//     margin: 0 auto;
//     display: block;
//   }

//   .home-main {
//     margin-bottom: $margin-small;
//   }

//   .social-links li {
//     display: inline-block;
//     margin-right: 2%;
//   }

//   div {
//     margin-bottom: $margin-small;
//   }

//   footer {
//     p {
//       padding-right: 3%;
//     }
//   }

// }