// Global Layout
body {
  padding: $margin-large 0 $margin-medium 0;
  background-color: $primary1;
  position: relative;
  bottom: 0;
  border: solid 10px $secondary2;
}

@media screen and (max-width: 900px) {
  body {
    padding: $margin-large 0 $margin-medium 0;
  }
}

@media screen and (max-width: 550px) {
  body {
    padding: $margin-medium 0;
  }
}

.margin-flex {
  margin-bottom: $margin-large;
}

@media screen and (max-width: 700px) {
  .margin-flex {
    margin-bottom: $margin-medium;
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 12%;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 0 10%;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding: 0 8%;
  }
}

.logo {
  width: 80px;
  margin: 0 0 20vh 0;
}

@media screen and (max-width: 550px) {
  .logo {
    width: 60px;
  }
}

footer {
  p {
    padding-right: 3%;
    margin-bottom: 40px;
    float: left;
    width: $grid-1-3;
  }
}

@media screen and (max-width: 900px) {
  footer p {
    width: $grid-1-2;
  }
}

@media screen and (max-width: 550px) {
  footer p {
    width: $grid-no;
  }
}

.hideme
{
    opacity:0;
}