body {
  font-family: $base-font-family;
  color: $primary2;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $header-font-weight;
}

h2 {
  font-size: $medium;
  font-weight: $regular;
  color: $secondary1;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 15px;
    background-color: $secondary1;
    transform: translate(0, -20px);
  }
}

@media screen and (max-width: 1100px) {
  h2 {
    font-size: $small;
  }
}

p {
  font-weight: $bold;
  font-size: $medium;
  margin: 0 0 $margin-small 0;

  footer & {
    font-size: $xx-small;
    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 15px;
      background-color: $secondary1;
      transform: translate(0, -20px);
    }
  }

  &.large {
    font-size: $xx-large;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 1100px) {
  p.large {
    font-size: $x-large;
  }
  p {
    font-size: $small;
  }
}

@media screen and (max-width: 800px) {
  p {
    font-size: $x-small;
  }
}

@media screen and (max-width: 700px) {
  p.large {
    font-size: $large;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 550px) {
  p.large {
    font-size: $medium;
    letter-spacing: 0;
  }
}

a {
  color: $primary3;
  text-decoration: none;

  .social-links & {
    color: $secondary1;
    display: inline-block;
    margin-right: 15px;
    font-size: $x-small;
  }

  &:hover {
    color: $primary3;
  }

  p & {
    border-bottom: 3px solid $primary1;
    // transition: none;
  }

  p &:hover {
    border-bottom: 3px solid $primary3;
  }
}

@media screen and (max-width: 550px) {
  .social-links a {
    font-size: $xx-small;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  li {
    margin-bottom: 8px;
    font-size: $medium;
    font-weight: $bold;
  }
}

.details {
  color: $secondary3;
  & li, & p {
    font-family: $alt-font-family;
    font-weight: $bold;
    font-style: italic;
    // letter-spacing: 1px;
  }
}

@media screen and (max-width: 1100px) {
  ul li {
    font-size: $small;
  }
}

@media screen and (max-width: 800px) {
  ul li {
    font-size: $x-small;
  }
}

// Navigation

.left-right {
  font-weight: $heavy;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .main-nav a {
    font-size: $xx-small;
    font-weight: $heavy;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 550px) {
  .main-nav a {
    font-size: $medium;
    font-weight: $heavy;
    letter-spacing: 0;
    text-transform: none;
    color: $primary1;
    margin-bottom: $margin-small;
  }
}

// Form / Input

.button {
  color: $primary3;
  font-weight: $heavy;
  font-size: $x-small;
  text-transform: uppercase;
  letter-spacing: 4px;
  &:hover {
    color: $primary1;
  }
}

@media screen and (max-width: 550px) {
  .button {
    font-size: $xx-small;
  }
}

.field {
  font-size: $large;
  color: $primary2;
}

::-webkit-input-placeholder {
   color: $secondary1;
}

:-moz-placeholder { /* Firefox 18- */
   color: $secondary1;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $secondary1;  
}

:-ms-input-placeholder {  
   color: $secondary1;  
}