* {
  transition: all .3s ease;
}

// General

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Body Border  ((not working))

@keyframes bodyframe {
  0% {
    border: solid 1px $secondary2;
  }
  100% {
    border: solid 10px $secondary2;
  }
}

// Left Right nav slide in  ((not working))

@keyframes left-nav-slide {
  0% {
    transform: rotate(-90deg) translate(-50%, -50px);
  }
  100% {
    transform: rotate(-90deg) translate(-50%, -31px);
  }
}

@keyframes right-nav-slide {
  0% {
    transform: rotate(90deg) translate(50%, -50px);
  }
  100% {
    transform: rotate(90deg) translate(50%, -31px);
  }
}

// Contact Hand

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translate(-200%, 15%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(-110%, 15%);
  }
}

.slide-right {
  animation: slide-right .7s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    opacity: 1;
    transform: translate(-110%, 15%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-200%, 15%);
  }
}

.slide-left {
  animation: slide-left .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}


// Main Menu Flyovers

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translate(-50%,-50px) scale(.95,.95);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-60px) scale(1,1);
  }
}

.fade-slide-up {
  animation: fade-slide-up .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


// Content Fade In

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fade-up .8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


// Gallery Slide In

@keyframes gallery-move-right {
  0% {
    opacity: 0;
    transform: translate(50%,30%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.img-move-right {
  animation: gallery-move-right .8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes gallery-move-left {
  0% {
    opacity: 0;
    transform: translate(-50%,30%);
  }
  100% {
    opacity: 1;
    transform: translate(0,0);
  }
}

.img-move-left {
  animation: gallery-move-left .8s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}


// Contact Open

@keyframes unroll {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 285px;
    opacity: 1;
  }
}

.unroll {
  animation: unroll .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  display: visible;
}

@keyframes reroll {
  0% {
    height: 285px;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

.reroll {
  animation: reroll .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.fade {
  opacity: 0;
  animation: fade .5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: .3s;
}

// Main Nav animate

@keyframes nav-dots {
  0% {
    opacity: 0;
    margin-right: 50px;
  }
  100% {
    opacity: 1;
    margin-right: 15px;
  }
}