.contact-flyout {
  display: none;
  background-color: $secondary2;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16%;
  margin-bottom: 0;
  &::before {
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    top:-12px;
    left: 12%;
    background-color: $secondary2;
    transform: rotate(45deg);
    z-index: -1;
  }
}

@media screen and (max-width: 550px) {
  .contact-flyout {
    padding: 0 10%;
  }
}

// Form Elements

.field {
  padding: 10px 0;
  border: none;
  background: none;
  border-bottom: 3px solid $secondary1;
  width: 100%;
  display: block;
  &:focus {
    outline: none;
  }
}

.button {
  padding: 20px 40px;
  margin: $margin-small 0;
  background-color: transparent;
  border: 3px solid $primary3;
  &:hover {
    background-color: $primary3;
  }
}