.page-right, .page-left {
  position: fixed;
  display: block;
  top: 50vh;

  color: $primary3;
  border: 3px solid $primary3;
  border-top: none;
  padding: 10px 20px;
  z-index: 10;

  transition: $transition-medium;
}

// Hidden animation

.page-right {
  right: 0;
  transform: rotate(90deg) translate(50%,-30px);
  transform-origin: top right;
  &:hover {
    transform: rotate(90deg) translate(50%,0);
  }
}

.page-left {
  left: 0;
  transform: rotate(-90deg) translate(-50%,-30px);
  transform-origin: top left;
  &:hover {
    transform: rotate(-90deg) translate(-50%,0);
  }
}

@media screen and (max-width: 550px) {
  .page-right, .page-left {
    display: none;
  }
}